<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include ('partials/head.html')%>

</head>

<body>

    <%- include ('partials/navigation.html')%>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/Discord.webp" class="animate__bounceIn" alt="Discord Logo">
            </div>
        </header>
    </div>

    <!-- Seccion uno-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-discord fa-10x animate__bounceIn"></i>
            </div>
            <div class="col sm-6">
                <h3>Una perfecta plataforma para comunicarse entre amigos</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, doloribus corrupti excepturi facere
                    aliquam deserunt cumque voluptatibus doloremque recusandae illum inventore odit laboriosam impedit
                    eum reiciendis accusantium quaerat deleniti a. Explicabo dicta quibusdam iusto voluptatem veniam ex
                    aliquid amet laborum.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col sm-6">
                <h3>Una perfecta plataforma para comunicarse entre amigos</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores corrupti nisi suscipit autem
                    saepe? Doloribus debitis possimus eius! Quia rerum animi, a, quasi id, reprehenderit recusandae
                    veniam dicta totam expedita voluptatibus laboriosam eius nemo praesentium! Consequatur voluptatum
                    accusamus repellendus reprehenderit optio libero! Ea minus commodi ut! Deserunt perferendis
                    laudantium explicabo maiores eum eos exercitationem quod in similique sequi! Quam, voluptas. Eius
                    non accusantium accusamus nulla quam repellat molestias blanditiis dicta quae. Harum, quas animi?
                </p>
            </div>
            <div class="col-sm-6">
                <div class="list-group bg-dark">
                    <div class="btn-group bg-dark" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle bg-dark"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Animales
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="/dog">Perros Randoms</a>
                            <a class="dropdown-item" href="/cat">Gatos Randoms</a>
                            <a class="dropdown-item" href="/bird">Aves Randoms</a>
                            <a class="dropdown-item" href="/fox">Zorros Randoms UwU</a>
                            <a class="dropdown-item" href="/bear">Osos Randoms</a>
                            <a class="dropdown-item" href="/koala">Koalas Randoms</a>
                            <a class="dropdown-item" href="/panda">Pandas Randoms</a>
                            <a class="dropdown-item" href="/redpanda">Pandas Rojos Randoms</a>
                        </div>
                    </div>
                    <a type="button" class="btn btn-secondary bg-dark" href="/binary">Convertidor Binario</a>
                    <a type="button" class="btn btn-secondary bg-dark" href="/translate">Traductor</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-discord fa-10x animate__bounceIn"></i>
            </div>
            <div class="col sm-6">
                <h3>Una perfecta plataforma para comunicarse entre amigos</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, doloribus corrupti excepturi facere
                    aliquam deserunt cumque voluptatibus doloremque recusandae illum inventore odit laboriosam impedit
                    eum reiciendis accusantium quaerat deleniti a. Explicabo dicta quibusdam iusto voluptatem veniam ex
                    aliquid amet laborum.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        style="width: 78.9%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">HTML 78.9%</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        style="width: 20.3%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">JavaScript 20.3%</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 0.8%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CSS 0.8%</div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html')%>


</body>

</html>