html {
  min-height: 100%;
  position: relative;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 52px;
}

footer {
  color: #ffffff;
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
}

a.button-animals {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

div.traductor-left {
  padding: 10px;
  float: left;
  width: 50%;
  text-align: justify;
}

div.binary {
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

div.traductor-right {
  padding: 10px;
  float: right;
  width: 50%;
  text-align: justify;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: none;
  color: #3498DB;
}

.animal-image {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.animal-image-responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.url-main:hover {
  color: #00aae4;
  text-decoration: none;
}

.html-icon {
  color: #ff0000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
}

.javascript-icon {
  color: #3de8ff;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
}

.css-icon {
  color: #1c46ff;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
}

.text-lenguaje {
  clear: left;
  text-align: right;
  vertical-align: middle;
  line-height: 25px;
}

.text-lenguaje-porcentaje {
  color: #9e9e9e;
}

.lista-lenguajes {
  text-align: left;
}

.logo-image {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.responsive-icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  margin-top: 12px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  box-shadow: auto;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a7b0ff;
}

::-webkit-scrollbar-thumb {
  background-color: #5214ff;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 6, 6, 0.658), transparent 75%, transparent)
}

@media only screen and (max-width: 767px) {
  div.traductor-left {
    width: 100%;
    margin: 5px;
    display: inline-block;
  }
  div.traductor-right {
    width: 100%;
    margin: 5px;
    display: inline-block;
  }
  div.binary {
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}

@media only screen and (max-width: 319px) {
  footer {
    position: fixed;
    height: 40px;
  }
  body {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 299px) {
  footer {
    position: fixed;
    height: 80px;
  }
  body {
    margin-bottom: 80px;
  }
}

div.binary {
  padding: 6px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@media only screen and (max-width: 200px) {
  footer {
    position: fixed;
    height: 120px;
  }
  body {
    margin-bottom: 120px;
  }
  div.binary {
    padding: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}